@{
    ViewBag.Title = "BrowserTravel";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Prueba de ingreso</h1>
        <p class="lead"> A continuacion el Crud de las tablas segun el requerimiento</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">AutoresBD</h2>
            <p>
                Aca podemos encontrar el crud Creado para la tabla autores
            </p>
            <p><a class="btn btn-outline-dark" href="~/authors">Ver mas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">LibrosDB</h2>
            <p>Aca encontraremos el crud de libros</p>
            <p><a class="btn btn-outline-dark" href="~/books">Ver mas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Libros y AutoresDB</h2>
            <p>Aca encontraremos el crud de librosy sus autores</p>
            <p><a class="btn btn-outline-dark" href="~/authors_has_books">Ver mas &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">EditorialesBD</h2>
            <p>Aca encontraremos el crud de las Editoriales</p>
            <p><a class="btn btn-outline-dark" href="~/editorials">Ver mas &raquo;</a></p>
        </section>
    </div>
</main>